<footer>
    <div class="pic-footer clearfix">
        <div class="container">
            <div class="row">
                <div class="footer-widgets">
                
                    <!-- FIRST COLUMN START -->
                    <div class="f-widget f-widget-1">
                        <div class="widget FeaturedPost">
                            <h2 class='title'>Featured Post</h2>
                            <div class='post-summary'>
                                <img alt='' class='image' src='img/resort.jpg'/>
                                <h3><a href='single.html'>Oscar Oscar nominations to be announced</a></h3>
                                <p>Ei brute deserunt delicata nam, mundi moderatius ex quo. Id per modo molestie lobortis, perfecto corrumpit omittantur nec an. Albucius intel...</p>
                            </div>
                        </div>
                    </div><!-- FIRST COLUMN END -->
                    
                    <!-- SECOND COLUMN START -->
                    <div class="f-widget f-widget-2">
                        <div class="widget">
                            <h2 class='title'>Random Posts</h2>
                            <div class="random-posts">
                                <ul>
                                    <li><a href="single.html">Nostro suavitate intellegam id mei, mea ex agam.</a> </li>
                                    <li><a href="single.html">Lorem ipsum no has veniam elaboraret constituam.</a> </li>
                                    <li><a href="single.html">Albucius intellegam scripserit et cum, no mei porro tantas</a> </li>
                                    <li><a href="single.html">Albucius intellegam scripserit et cum, no mei porro tantas menandri.</a> </li>
                                    <li><a href="single.html">Nam detraxit disputando efficiantur cu, nisl.</a> </li>
                                    <li><a href="single.html">Pro hinc aperiri fabulas ut, probo tractatos euripidis an vis, ignota oblique ut nec.</a> </li>
                                    <li><a href="single.html">Nam iusto delicata ne, eam dolore singulis maiestatis ex.</a> </li>
                                    <li><a href="single.html">Ad pro erat quaeque suscipiantur, vis alia pertinacia.</a> </li>
                                    <li><a href="single.html">Liverpool fans plan walkout protest at £77 ticket prices</a> </li>
                                    <li><a href="single.html">Duo ex velit vocibus, lucilius quaestio his eu.</a> </li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- SECOND COLUMN END -->
                    
                    <!-- THIRD COLUMN START -->
                    <div class="f-widget last">
                    
                        <div class="widget clearfix">
                            <h2 class="title">Labels</h2>
                            <div class="list-label-widget-content">
                                <ul>
                                    <li><a href="#">Carousel</a></li>
                                    <li><a href="#">Entertainment</a></li>
                                    <li><a href="#">Fashion</a></li>
                                    <li><a href="#">Food</a></li>
                                    <li><a href="#">Holidays</a></li>
                                    <li><a href="#">Hotels</a></li>
                                    <li><a href="#">Music</a></li>
                                    <li><a href="#">people</a></li>
                                    <li><a href="#">Sport</a></li>
                                    <li><a href="#">Technology</a></li>
                                    <li><a href="#">Training</a></li>
                                    <li><a href="#">Cars</a></li>
                                </ul>
                            </div>
                        </div>
                        
                        <div class="widget">
                            <h2 class="title">Categories</h2>
                            <div class="cloud-label-widget-content">
                                <span class="label-size label-size-3"><a href="#">Carousel</a></span>
                                <span class="label-size label-size-3"><a href="#">Cars</a></span>
                                <span class="label-size label-size-5"><a href="#">City</a></span>
                                <span class="label-size label-size-1"><a href="#">Classic</a></span>
                                <span class="label-size label-size-5"><a href="#">Entertainment</a></span>
                                <span class="label-size label-size-4"><a href="#">Fashion</a></span>
                                <span class="label-size label-size-5"><a href="#">Food</a></span>
                                <span class="label-size label-size-5"><a href="#">Holidays</a></span>
                                <span class="label-size label-size-4"><a href="#">Hotels</a></span>
                                <span class="label-size label-size-3"><a href="#">Music</a></span>
                                <span class="label-size label-size-5"><a href="#">people</a></span>
                                <span class="label-size label-size-3"><a href="#">Sport</a></span>
                                <span class="label-size label-size-4"><a href="#">Technology</a></span>
                                <span class="label-size label-size-5"><a href="#">Training</a></span>
                                <span class="label-size label-size-1"><a href="#">Video</a></span>
                            </div>
                        </div>
                    </div><!-- THIRD COLUMN START -->
                    
                </div>
            </div>
        </div>
    </div>
</footer>

