{% load static %}

<div class="pic-header">
    <div class="container">
        <div class="row">
        
            <div class="header">
                <div class="logo"><a href="/"><img alt="" src="{% static 'img/logo.png' %}" /></a></div>
            </div>
            
            <div class="header-right">
            
                <!-- MENU START -->
                <nav id="menu">
                    <span class="menu-trigger"><i class="fa fa-bars"></i> MENU</span>
                    <ul>
                        {% if user.is_authenticated %}
                        <li><a href="http://127.0.0.1:8000/admin">Admin</a></li>
                        {% endif %}
                        <li><a href="/">Home</a></li>
                        <li><a href="blog.html">Blog</a></li>
                        <li class="down home"><a href="#">Tags <i class="fa fa-caret-down"></i></a>
                            <ul class="menus">
                                {% for tag in tags %}
                                <li><a href="{% url 'home:tag_filter' tag.slug %}">{{ tag.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="down home"><a href="#">Categories <i class="fa fa-caret-down"></i></a>
                            <ul class="menus">
                                {% for category in categories %}
                                <li><a href="{% url 'home:category_filter' category.slug %}">{{ category.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li><a href="contact.html">Contact</a></li>
                        <li><a href="#">Mega Menu <i class="fa fa-caret-down"></i></a>
                        
                            <!-- MEGA MENU START -->
                            <div class="mega">
                                <div class="mega_pictures">
                                
                                    <div class="mega_pictures_list">
                                        <a href="single.html"><img alt=" " src="{% static 'img/office.jpg' %}" /></a>
                                        <a href="single.html">
                                            <div class="overlay"></div>
                                        </a>
                                        <div class="cap-comment"><i class="fa fa-comment"></i> 2</div>
                                        <a class="title-section" href="single.html">
                                            <div class="title">Ei his graeci option officiis, no oratio vocent efficiendi vix.</div>
                                        </a>
                                    </div>
                                    
                                    <div class="mega_pictures_list">
                                        <a href="single.html"><img alt=" " src="{% static 'img/child.jpg' %}" /></a>
                                        <a href="single.html">
                                            <div class="overlay"></div>
                                        </a>
                                        <div class="cap-comment"><i class="fa fa-comment"></i> 1</div>
                                        <a class="title-section" href="single.html">
                                            <div class="title">Ei his graeci option officiis, no oratio vocent efficiendi vix.</div>
                                        </a>
                                    </div>
                                    
                                    <div class="mega_pictures_list">
                                        <a href="single.html"><img alt=" " src="{% static 'img/work-boots.jpg' %}" /></a>
                                        <a href="single.html">
                                            <div class="overlay"></div>
                                        </a>
                                        <div class="cap-comment"><i class="fa fa-comment"></i> 0</div>
                                        <a class="title-section" href="single.html">
                                            <div class="title">Nam iusto delicata ne, eam dolore singulis maiestatis ex.</div>
                                        </a>
                                    </div>
                                    
                                    <div class="mega_pictures_list">
                                        <a href="single.html"><img alt=" " src="{% static 'img/ship.jpg' %}" /></a>
                                        <a href="single.html">
                                            <div class="overlay"></div>
                                        </a>
                                        <div class="cap-comment"><i class="fa fa-comment"></i> 3</div>
                                        <a class="title-section" href="single.html">
                                            <div class="title">Women in Hollywood, according to new study.</div>
                                        </a>
                                    </div>
                                    
                                    <div class="mega_pictures_list">
                                        <a href="single.html"><img alt=" " src="{% static 'img/kayak.jpg' %}" /></a>
                                        <a href="single.html">
                                            <div class="overlay"></div>
                                        </a>
                                        <div class="cap-comment"><i class="fa fa-comment"></i> 5</div>
                                        <a class="title-section" href="single.html">
                                            <div class="title">The age of first-time mothers is rising faster in the US.</div>
                                        </a>
                                    </div>
                                </div>
                            </div><!-- MEGA MENU END -->
                            
                        </li>
                        <li><a href="error.html">Error</a></li>
                        <li class="searchbutton"></li>
                    </ul>
                </nav><!--  MENU END -->
                
            </div>
        </div>
    </div>
    
    <div class='searchbutton'></div>
    
</div>

<div class="headline-wrapper">
    <div class="clearfix" id="headline">
        <div class="container">
            <div class="row">
                
                <!-- HEADLINE MENU START -->
                <div class="headline-left clearfix">
                    <div class="nav">
                        <ul>
                            <li class='selected'><a href="">Home</a></li>
                            <li><a href='#'>About Us</a></li>
                            <li><a href='#'>Contact</a></li>
                        </ul>
                    </div>
                </div><!-- HEADLINE MENU END -->
                
                <!-- SEARCH FORM START -->
                <div class="search-section clearfix">
                    <div id="search" title="Type and hit enter">
                        <form id="searchform" method="get">
                            <input id='s' name='q' onblur='if (this.value == "") {this.value = "Search...";}' onfocus='if (this.value == "Search...") {this.value = "";}' type='text' value='Search...'/>
                        </form>
                    </div>
                </div><!-- SEARCH FORM END -->
                
            </div>
        </div>
    </div>
</div>

<!-- HEADLINE START -->

<div id="top-social">
    <div class="container">
        <div class="row">
            <div class="news red">
                
                <!-- NEWSTICKER START -->
                <ul>
                    <li><div class="cap-date"> Feb  5</div><a href="single.html">Ei his graeci option officiis, no oratio vocent efficiendi vix.</a></li>
                    <li><div class="cap-date"> Feb  5</div><a href="single.html">Nam iusto delicata ne, eam dolore singulis maiestatis ex.</a></li>
                    <li><div class="cap-date"> Jan  14</div><a href="single.html">Women in Hollywood, according to new study</a></li>
                    <li><div class="cap-date"> Jan  5</div><a href="single.html">The age of first-time mothers is rising faster in the US</a></li>
                    <li><div class="cap-date"> Jan  5</div><a href="single.html">Baby brain doesn't exist say scientists</a></li>
                    <li><div class="cap-date"> Jan  4</div><a href="single.html">Oscar Oscar nominations to be announced</a></li>
                    <li><div class="cap-date"> Jan  4</div><a href="single.html">Friends cast back together for special</a></li>
                    <li><div class="cap-date"> Jan  4</div><a href="single.html">How can Build a Better Connection Between the Mind and Body</a></li>
                    <li><div class="cap-date"> Jan  3</div><a href="single.html">How Triathletes Can Maximize Their Swim Block Training</a></li>
                    <li><div class="cap-date"> Jan  2</div><a href="single.html">Ei his graeci option officiis, no oratio vocent efficiendi vix.</a></li>
                </ul><!-- NEWSTICKER END -->
                
                <!-- SOCIAL BUTTONS START -->
                <div class="about-social">
                    <a class="facebook" href="http://www.facebook.com/" rel="nofollow" target="new"><i class="fa fa-facebook"></i></a>
                    <a class="twitter" href="http://www.twitter.com/" rel="nofollow" target="new"><i class="fa fa-twitter"></i></a>
                    <a class="google" href="http://plus.google.com/" rel="nofollow" target="new"><i class="fa fa-google-plus"></i></a>
                </div><!-- SOCIAL BUTTONS END -->
                
            </div>
        </div>
    </div>
</div>
<!-- HEADLINE END -->