{% load wagtailimages_tags %}

{% with blocks=post.body %}

{% for block in blocks %}

{% if block.block_type == 'photo' %}

    <!-- POST IMAGE -->
    <div id="post-header">
    {% image block.value max-1000x500 %}
    </div>

{% elif block.block_type == 'paragraph' %}
    <p>{{ block.value }}</p>
    <div class="line" style="margin:16px 0px 37px;"></div>

{% elif block.block_type == 'Image_with_text' %}

    {% include 'components/blocks/image_text.html' %}
    <div class="line" style="margin:16px 0px 37px;"></div>
{% elif block.block_type == 'h1' %}
    <h1 class="h1">{{ block.value }}</h1>
    <div class="line" style="margin:-3px 0px 18px;"></div>
{% elif block.block_type == 'h2' %}
    <h2 class="h2">{{ block.value }}</h2>
    <div class="line" style="margin:-3px 0px 18px;"></div>
{% elif block.block_type == 'h3' %}
    <h3 class="h3">{{ block.value }}</h3>
    <div class="line" style="margin:-3px 0px 18px;"></div>
{% elif block.block_type == 'h4' %}
    <h4 class="h4">{{ block.value }}</h4>
    <div class="line" style="margin:-3px 0px 18px;"></div>
{% elif block.block_type == 'h5' %}
    <h5 class="h5">{{ block.value }}</h5>
    <div class="line" style="margin:-3px 0px 18px;"></div>
    
{% elif block.block_type == 'list' %}
    {% include 'components/blocks/list.html' %}

{% elif block.block_type == 'qupte' %}
{% include 'components/blocks/list.html' %}
    <h2 class="h2">{{ block.value.quoted_by }}</h2>
    <blockquote>{{ block.value.text }}</blockquote>

{% elif block.block_type == 'link' %}
    <pre>{{ block.value }}</pre>
{% endif %}  

{% endfor %}    
{% endwith %}