{% extends 'base.html' %}

{% load wagtailimages_tags %}

{% load static %}

{% block title %}Post{% endblock %}

{% block content %}
<div class="container">
	<div class="row">	
	
		<div class="tabs-menu clearfix">
			<div class="left-area">
				Left Sidebar
			</div>
			<div class="left-area-2">
				Left Sidebar
			</div>
			<div class="center-area">
				Featured News
			</div>
			<div class="right-area">
				Right Sidebar
			</div>
			<div class="right-area-2">
				Right Sidebar
			</div>
		</div>
	
		<div id="outer-wrapper" class="clearfix">
		
			<div class="secondary-content clearfix">
			
				<!-- LEFT SIDEBAR START -->
				<div class="left-sidebar">
					<div class="theiaStickySidebar">
						<div class="grid-sidebar">
							
							<!-- CATEGORY 1 START -->
							{% include 'components/home/category.html' %}
							<!-- CATEGORY 1 END -->

							
						</div>
					</div>					
				</div><!-- LEFT SIDEBAR END -->
				
				<div id="main-wrapper" class="clearfix">
					<div class="theiaStickySidebar">
					
						<!-- SINGLE POST START -->
						<div class="post clearfix">
						
							<!-- POST IMAGE -->
							{% image post.image max-1000x500 as header_image %}
							<div id="post-header">
								<img alt="" src="{{ header_image.url }}" />
							</div>
							
							<!-- POST TITLE -->
							<h2 class="post-title">
								{{ post.title }}
							</h2>
							
							<!-- POST META -->
							<div class="meta post-meta">
								<span><i class="fa fa-clock-o"></i> {{ post.created }}</span> - 
								<span><i class="fa fa-user"></i> {{ poost.author }}</span>	- 
								<span><i class="fa fa-comments"></i>{{ post.get_review_count }} Comments</span> - 
								<span>Average Rating {{ post.get_average_rating }}/5.0</span>
							</div>
							
							<!-- TEXT POST -->
							<div class="post-body">
								<p>{{ post.intro }}</p>
							{% include 'components/streamfield.html' %}
							</div>
							
							<!-- RELATED POST -->
							{% include 'components/home/related.html' %}
							
							<div id="comments" class="clearfix">
								<!-- COMMENTS -->
								{% include 'components/home/comments.html' %}
								
								<!-- COMMENT FORM -->
								{% include 'components/home/comments_form.html' %}
							</div>
							
							
						</div><!-- SINGLE POST END -->
						
					</div>
				</div>
				
			</div>
			
			<!-- RIGHT SIDEBAR START -->
			{% include 'components/home/right_sidebar.html' %}
			<!-- RIGHT SIDEBAR END -->
			
		</div>
	</div>
</div>
{% endblock %}