{% load static %}

<div class="widget clearfix">
    <h2 class='title'>Category 1</h2>
    <div class="cont topLists">
        <ul class="topimages">
            <li>
                <figure>
                    <div class="topListimages"><a href="single.html"><img alt=" " src="{% static 'img/steering.jpg' %}"/></a>
                        <a href="single.html"><div class="overlay"></div></a>
                        <div class="cap-comment"><i class="fa fa-comment"></i> 3</div>
                        <div class="toptitle">
                            <div class="cap-date"> 17 Apr 2015</div>
                            <div class="clearfix"></div>
                            <a href="single.html">Nam detraxit disputando efficiantur cu, nisl.</a>
                        </div>
                    </div>
                    <figcaption>
                        <div class="toptext">
                            <p>Ei brute deserunt delicata nam, mundi moderatius ex quo. Id per modo molestie lobortis, perfecto corrumpit omittantur nec an. Alb...</p>
                        </div>
                    </figcaption>
                </figure>
            </li>
            
            <li>
                <figure>
                    <div class="topListimages"><a href="single.html"><img alt=" " src="{% static 'img/antique.jpg' %}"/></a>
                        <a href="single.html"><div class="overlay"></div></a>
                        <div class="cap-comment"><i class="fa fa-comment"></i> 3</div>
                        <div class="toptitle">
                            <div class="cap-date"> 12 Apr 2015</div>
                            <div class="clearfix"></div>
                            <a href="single.html">Nostro suavitate intellegam id mei, mea ex agam.</a>
                        </div>
                    </div>
                    <figcaption>
                        <div class="toptext">
                            <p>Lorem ipsum eu usu assum liberavisse, ut munere praesent complectitur mea. Sit an option maiorum principes. Ne per probo magna id...</p>
                        </div>
                    </figcaption>
                </figure>
            </li>
            
            <li>
                <figure>
                    <div class="topListimages"><a href="single.html"><img alt=" " src="{% static 'img/guitar.jpg' %}"/></a>
                        <a href="single.html"><div class="overlay"></div></a>
                        <div class="cap-comment"><i class="fa fa-comment"></i> 3</div>
                        <div class="toptitle">
                            <div class="cap-date"> 11 Apr 2015</div>
                            <div class="clearfix"></div>
                            <a href="single.html">Et eum aliquip iuvaret dignissim, dicant epicurei.</a>
                        </div>
                    </div>
                    <figcaption>
                        <div class="toptext">
                            <p>Nisl malis veritus pro no, pro an enim admodum mediocritatem. Ei his graeci option officiis, no oratio vocent efficiendi vix. Eu ...</p>
                        </div>
                    </figcaption>
                </figure>
            </li>
        </ul>
    </div>
</div>