{% load static %}

<div id="comments" class="clearfix">
    <h2><i class='fa fa-comments-o'></i>{{ post.get_review_count }} Comments</h2>
    <hr>
    <h2>Average Rating {{ post.get_average_rating }}/5.0 </h2>
    <div class="title-border"></div>
    
    <ol class="comments_list">
        {% for review in post.reviews.all %}
        <li class="comment">
            <article-reply>
                <div class="comment_content">
                    <div class="meta">
                        <span class="comment_author"><a href="#">{{ review.author }}</a></span>
                        <span class="comment_date">{{ review.created }}</span>
                        <div class="comment_rating">
                            {% for _ in review.get_star_count %}
                            <i class="rating__icon rating__icon--star fa fa-star"></i>
                            {% endfor %}
                        </div>
                    </div>
                    <p>{{ review.text }}</p>
                </div>
            </article-reply>
        </li>
        {% endfor %}
    </ol>

</div> 