{% load static %}

<div class="comment-form clearfix">
    <h3><i class="fa fa-pencil"></i> Leave a Replay</h3>
    
    <div class="comments_form">
        <form>
            <div class="inp_blocks">
                <input id="c_name" type="text" placeholder="Your Name *" required/>
                <input id="c-mail" type="text" placeholder="Your Email *" required/>
            </div>
            <textarea cols="30" rows="10" placeholder="Message"></textarea>
            <input type="submit" value="Send Message" />
        </form>
    </div>
</div> 