{% load static %}

<div class="related-posts clearfix">
    <h3><i class='fa fa-pencil-square-o'></i> Similar Articles</h3>
    <ul>
        <li>
            <div class="thumbR clearfix">
                <a href="single.html"><img alt="" src="{% static 'img/underwear.jpg' %}" /></a>
            </div>
            <div class="title">
                <h4><a href="single.html">This Is Going To Be A Decent Length Title With Little Text.</a></h4>
                
            </div>
        </li>
        <li>
            <div class="thumbR clearfix">
                <a href="single.html"><img alt="" src="{% static 'img/boy.jpg' %}" /></a>
            </div>
            <div class="title">
                <h4><a href="single.html">Et eum aliquip iuvaret dignissim, dicant epicurei vituperata vim eu.</a></h4>
            </div>
        </li>
        <li>
            <div class="thumbR clearfix">
                <a href="single.html"><img alt="" src="{% static 'img/child.jpg' %}" /></a>
            </div>
            <div class="title">
                <h4><a href="single.html">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h4>
            </div>
        </li>
    </ul>
</div>