{% load static %}

<div id="sidebar-wrapper">
    <div class="theiaStickySidebar">
        <div class="sidebar clearfix">
            
            <!-- POPULAR POSTS START -->
            <div class="widget clearfix">
                <div id="PopularPosts1" class="PopularPosts on">
                    <h2 class="title">POPULAR POSTS</h2>
                    <div class="widget-content popular-posts">
                        <ul>
                        
                            <li>
                                <div class="item-content">
                                    <div class="item-thumbnail">
                                        <a href="single.html"><img alt="" src="{% static 'img/mobility.jpg' %}"/></a>
                                        <a href="single.html"><div class="overlay"></div></a>
                                        <div class="item-title">
                                            <a href="single.html">What to do Between Training Cycles</a>
                                        </div>
                                    </div>
                                    <div class="item-snippet">You have two options. The first (and easiest) would be to use this period between marathon training cycles for active rest. Continue to trai...</div>
                                </div>
                            </li>
                            
                            <li>
                                <div class="item-content">
                                    <div class="item-thumbnail">
                                        <a href="single.html"><img alt="" src="{% static 'img/child.jpg' %}" /></a>
                                        <a href="single.html"><div class="overlay"></div></a>
                                        <div class="item-title">
                                            <a href="single.html">Ei his graeci option officiis, no oratio vocent efficiendi vix.</a>
                                        </div>
                                    </div>
                                    <div class="item-snippet">Lorem ipsum eu usu assum liberavisse, ut munere praesent complectitur mea. Sit an option maiorum principes. Ne per probo magna idque, est ve...</div>
                                </div>
                            </li>

                            <li>
                                <div class="item-content">
                                    <div class="item-thumbnail">
                                        <a href="single.html"><img alt="" src="{% static 'img/office.jpg' %}" /></a>
                                        <a href="single.html"><div class="overlay"></div></a>
                                        <div class="item-title">
                                            <a href="single.html">Ei his graeci option officiis, no oratio vocent efficiendi vix.</a>
                                        </div>
                                    </div>
                                    <div class="item-snippet">Lorem ipsum eu usu assum liberavisse, ut munere praesent complectitur mea. Sit an option maiorum principes. Ne per probo magna idque, est ve...</div>
                                </div>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </div><!-- POPULAR POSTS END -->
            
            <!-- SIDEBAR SPONSOR START -->
            <div class="widget clearfix">
                <h2 class="title">SPONSOR</h2>
                <div style="width: 300px; height: 250px; background: #444; text-align: center; display: inline-block; color: #bbb; font-family: 'Roboto', sans-serif; font-weight: 900; font-size: 1.2rem; white-space: nowrap; padding: 0; overflow: hidden; line-height: 250px;">AD 300X250</div>
            </div><!-- SIDEBAR SPONSOR END -->
            
            <!-- CATEGORY 16 START -->
            <div class="widget">
                <h2 class="title">Category 16</h2>
                <div class='cont topLists'>
                    <ul class="topimages">
                    
                        <li>
                            <figure>
                                <div class="topListimages">
                                  <a href="single.html"><img alt=" " src="{% static 'img/ship.jpg' %}"/></a>
                                    <a href="single.html"><div class="overlay"></div></a>
                                </div>
                                <figcaption>
                                    <div class="toptext">
                                        <div class="date-info clearfix">
                                            <div class="cap-date">  14 Jan 2016</div>
                                            <div class="cap-comment"> <i class="fa fa-comment"></i> 3</div>
                                        </div>
                                        <a href="single.html">Women in Hollywood, according to new study</a></div>
                                </figcaption>
                            </figure>
                        </li>
                        
                        <li>
                            <figure>
                                <div class="topListimages">
                                  <a href="single.html"><img alt=" " src="{% static 'img/kayak.jpg' %}"/></a>
                                    <a href="single.html"><div class="overlay"></div></a>
                                </div>
                                <figcaption>
                                    <div class="toptext">
                                        <div class="date-info clearfix">
                                            <div class="cap-date">  13 Jan 2016</div>
                                            <div class="cap-comment"> <i class="fa fa-comment"></i> 13</div>
                                        </div>
                                        <a href="single.html">The age of first-time mothers is rising faster in the US</a></div>
                                </figcaption>
                            </figure>
                        </li>
                        
                        <li>
                            <figure>
                                <div class="topListimages">
                                  <a href="single.html"><img alt=" " src="{% static 'img/fiat-500.jpg' %}"/></a>
                                    <a href="single.html"><div class="overlay"></div></a>
                                </div>
                                <figcaption>
                                    <div class="toptext">
                                        <div class="date-info clearfix">
                                            <div class="cap-date">  11 Jan 2016</div>
                                            <div class="cap-comment"> <i class="fa fa-comment"></i> 1</div>
                                        </div>
                                        <a href="single.html">Baby brain doesn't exist say scientists</a></div>
                                </figcaption>
                            </figure>
                        </li>
                        
                        <li>
                            <figure>
                                <div class="topListimages">
                                  <a href="single.html"><img alt=" " src="{% static 'img/resort.jpg' %}"/></a>
                                    <a href="single.html"><div class="overlay"></div></a>
                                </div>
                                <figcaption>
                                    <div class="toptext">
                                        <div class="date-info clearfix">
                                            <div class="cap-date">  11 Jan 2016</div>
                                            <div class="cap-comment"> <i class="fa fa-comment"></i> 18</div>
                                        </div>
                                        <a href="single.html">Oscar Oscar nominations to be announced</a></div>
                                </figcaption>
                            </figure>
                        </li>
                        
                        <li>
                            <figure>
                                <div class="topListimages">
                                  <a href="single.html"><img alt=" " src="{% static 'img/guitarist.jpg' %}"/></a>
                                    <a href="single.html"><div class="overlay"></div></a>
                                </div>
                                <figcaption>
                                    <div class="toptext">
                                        <div class="date-info clearfix">
                                            <div class="cap-date">  10 Jan 2016</div>
                                            <div class="cap-comment"> <i class="fa fa-comment"></i> 15</div>
                                        </div>
                                        <a href="single.html">Friends cast back together for special</a></div>
                                </figcaption>
                            </figure>
                        </li>
                        
                    </ul>
                </div>
            </div><!-- CATEGORY 16 END -->
            
        </div>
    </div>
</div>