{% load static %}

<div class="fp-slides-items">
    <div class="fp-thumbnail">
        <div class="wrapper">
            
            <div class="large-section">
                <a href="single.html"><img alt="" src="{% static 'img/girl.jpg' %}" /></a>
                <a href="single.html"><div class="overlay"></div></a>
                <div class="top-comment"> <i class="fa fa-comment"></i> 3</div>
                <div class="feat-cap">
                    <ul class="cap-meta">
                        <li class="cap-date">13 Jan 2016</li>
                    </ul>
                    <div class="clearfix"></div>
                    <a href="single.html"><h3 class="post-title">How can Build a Better Connection Between the Mind and Body</h3></a>
                </div>
            </div>
            
            <div class="small-section-wrap">
                <div class="small-section top-small">
                    <a href="single.html"><img alt="" src="{% static 'img/woman.jpg' %}" /></a>
                    <a href="single.html"><div class="overlay"></div></a>
                    <div class="top-comment"> <i class="fa fa-comment"></i> 2</div>
                    <div class="feat-cap">
                        <ul class="cap-meta">
                            <li class="cap-date">12 Jan 2016</li>
                        </ul>
                        <div class="clearfix"></div>
                        <a href="single.html"><h4 class="post-title">How Triathletes Can Maximize Their Swim Block Training</h4></a>
                    </div>
                </div>
                
                <div class="small-section top-small">
                    <a href="single.html"><img alt="" src="{% static 'img/mobility.jpg' %}" /></a>
                    <a href="single.html"><div class="overlay"></div></a>
                    <div class="top-comment"> <i class="fa fa-comment"></i> 2</div>
                    <div class="feat-cap">
                        <ul class="cap-meta">
                            <li class="cap-date">13 Jan 2016</li>
                        </ul>
                        <div class="clearfix"></div>
                        <a href="single.html"><h4 class="post-title">What to do Between Training Cycles</h4></a>
                    </div>
                </div>
                
                <div class="small-section top-small">
                    <a href="single.html"><img alt="" src="{% static 'img/bodybuilder.jpg' %}" /></a>
                    <a href="single.html"><div class="overlay"></div></a>
                    <div class="top-comment"> <i class="fa fa-comment"></i> 5</div>
                    <div class="feat-cap">
                        <ul class="cap-meta">
                            <li class="cap-date">12 Jan 2016</li>
                        </ul>
                        <div class="clearfix"></div>
                        <a href="single.html"><h4 class="post-title">Experiencing three types of autonomous driving in three weeks</h4></a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    
    <div class="fp-content-wrap">
        <div class="fp-prev-next-wrap">
            <a class="fp-next" href="#fp-next"></a>
            <a class="fp-prev" href="#fp-prev"></a>
        </div>
    </div>
</div>